<h4 class="title text-center">Landings</h4>
<br>
<table class="table table-striped">
    <thead>
        <th>Time</th>
        <th>Flight Number</th>
        <th>Company</th>
        <th>Current Terminal</th>
        <th>Passengers Count</th>
        <th>Status</th>
    </thead>
    <tbody>
        <ng-container *ngFor="let flight of flightsList$|async">
            <tr *ngIf="flight.type == 0"> 
                <td>{{flight.flightTime}}</td>
                <td>{{flight.flightNumber}}</td>
                <td>{{flight.flightCompany}}</td>
                <td>{{flight.FlightCompany != null ? flight.currentTerminal : "Waiting to Land"}}</td>
                <td>{{flight.passengersCount}}</td>
                <td *ngIf="flight.status == 0">Future</td>
                <td *ngIf="flight.status == 1">InQueue</td>
                <td *ngIf="flight.status == 2">In Process</td>
                <td *ngIf="flight.status == 3">Past</td>
            </tr>
        </ng-container>
    </tbody>
</table>