<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-6" *ngIf="tourData">
            <a routerLink="../../menu" class="btn btn-sm btn-dark mb-3">Back</a>
            <img src="{{tourData[0].img}}" width="100%" />
            <h1 class="mt-3">{{tourData[0].title}}</h1>
            <h6><i class="bi bi-speedometer2"></i>&nbsp;{{tourData[0].difficulty}}&nbsp;&nbsp;<i class="bi bi-clock"></i>&nbsp;{{tourData[0].time}}</h6>
            <p>{{tourData[0].description}}
            <p>{{tourData[0].price | currency :'EUR'}}</p>
        </div>
        <div class="col-lg-6 col-lg-12">
            <h1>Enter Your Details</h1>
            <form>
                <input type="text" class="form-control" placeholder="Enter your full name" />
                <input type="text" class="form-control" placeholder="Enter your phone number" />
                <textarea class="form-control" placeholder="Enter your address"></textarea>
                <button class="btn btn-md btn-dark mt-3">Book My Tour</button>
            </form>
        </div>
    </div>
</div>