@model IEnumerable<SelaPetShop.Models.Dtos.AnimalDto>

@{
    ViewData["Title"] = "Home Page";
}

<h3>Our Most Reviewed Animals!</h3>

<body>
    <section class="container">
        <div class="card">
            <div class="card-image animal-1"></div>
            @foreach (var item in Model)
            {
                <h2>@Html.DisplayFor(model => item.Name)</h2>
                <p>@Html.DisplayFor(model => item.Description)</p>
            }
        </div>
        <div class="card">
            <div class="card-image animal-2"></div>
            @foreach (var item in Model)
            {
                <h2>@Html.DisplayFor(model => item.Name)</h2>
                <p>@Html.DisplayFor(model => item.Description)</p>
            }
        </div>
    </section>
</body>