<!-- <ng-container *ngFor="let pet of pets index as i">
    <pet [data]="pet"></pet>
</ng-container>

<ng-container *ngFor="let pet of pets; index as i">
    <div class="pet" *ngIf="pet.age > 10">

    </div>
</ng-container>

<ng-template #elseBlock>
     <h1>{{pets.length}} pets found</h1> 
</ng-template>

<ng-container *ngFor="let num of numbers; index as i">
    <h1 class="red" *ngIf="i%2==0 && i != 0; else oddNumbers">{{i}}</h1>
    <ng-template #oddNumbers>
        <h1 class="green" *ngIf="i!=0">{{num}}</h1>
    </ng-template>
</ng-container> -->
