<ng-container *ngFor="let p of movies">
    <movie [movieData]="p" (remove)="removeMovie($event)" (duplicate)="duplicateMovie($event)" (update)="updateMovie($event)">
    </movie>
    <label>
        Name: <input type="text" [value]="p.name" id="name" #name />
    </label>
    
    
    <label>
        Year: <input type="number" [value]="p.year"  id="year" #year />
    </label>
    
    <label>
        Description: <input type="text" [value]="p.description"  id="description" #description  />
    </label>
</ng-container>

<ng-container>
    <label>Movie Name:</label>
</ng-container>