<div class="section">
    <h1 class="double-border-text">About Us</h1>
    <div class="container">
        <div class="left">
            <i class="bi bi-info-circle"></i>
            <h1 class="value">Knowledgeable</h1>
            <p>
                Extensive knowledge about the area you're touring, including its history, culture, and attractions. 
                You should be able to answer your customers' questions confidently and accurately. 
                A knowledgeable tour guide will also be able to provide interesting and informative commentary throughout the tour, 
                making the experience more enjoyable for everyone.
            </p>
        </div>
        <div class="middle">
            <i class="bi bi-chat-heart"></i>
            <h1 class="value">Friendly</h1>
            <p>
                Friendly and approachable guide that will make you feel welcomed and comfortable. 
                Being warm and welcoming will help you feel more relaxed and engaged during the tour. 
                Additionally, a friendly tour guide can create a positive rapport with customers, which can lead to positive reviews and word-of-mouth recommendations.
            </p>
        </div>
        <div class="right">
            <i class="bi bi-award"></i>
            <h1 class="value">Professional</h1>
            <p>
                A tour guide with a professional demeanor. 
                This includes being punctual, dressed appropriately, and respectful of your customers needs and preferences. 
                We are able to handle any challenges that may arise during the tour with calmness and professionalism. 
                Being professional will help you earn the trust and respect of your customers and ensure that they have a great experience on the tour.
            </p>
        </div>
    </div>
</div>