<div class="container mt-5 mb-5">
    <h1 class="text-center">About</h1>

    <img src="" width="100%">
    <p class="text-center">
        Unique private tours all over Israel in a way you have never experienced before, up to 4 participants in the tour. 
        <br />
        A tour guide approved by the Israeli Ministry of Tourism. Tours on: Religions - Judaism, 
        <br/>
        Christianity and Baha'i Archaeology Jewish history History of the State of Israel And many more topics...
    </p>
</div>