html {
    height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-image: url('/lib/background.jpg');
    font-size: 16px;
    margin-bottom: 60px;
}

.text-center {
    color: white;
}

.img-fluid {
    object-fit: cover;
    width: 100%;
    height: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

li {
    float: left;
}

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

        li a:hover {
            background-color: #111;
        }

.active {
    background-color: #4CAF50;
}


/*ANIMAL CARDS*/
.container {
    display: flex;
    justify-content: center;
}

.card {
    background: white;
    width: 300px;
    height: 400px;
    margin: 70px;
    border-radius: 15px;
}

.card-image {
    height: 150px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
    object-fit: contain;
    aspect-ratio: 3/2;
    mix-blend-mode: color-burn;
}

.animal-1 {
    background-image: url('/lib/Animals/shitzu.jpg');
}

.animal-2 {
    background-image: url('/lib/Animals/owl.png');
}

h3 {
    text-align: center;
    color: white;
    text-shadow: 40px;
}