<div class="banner">
    <div class="content">
        <h1 class="mb-5">Your Tour Guide In Israel</h1>
        <a routerLink="menu">BOOK NOW &nbsp;<i class="bi bi-book"></i></a>
    </div>
</div>

<div class="container mt-5 mb-5">
    <h1 class="text-center">How to Book a <span class="highlight">Trip</span></h1>
    <div class="row mt-5">
        <div class="col-lg-4 mt-2">
            <div class="step-box">
                <h1>1</h1>
                <p>Select Tour of Choice.</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="step-box">
                <h1>2</h1>
                <p>Choose a Date.</p>
            </div>
        </div>
        <div class="col-lg-4 mt-2">
            <div class="step-box">
                <h1>3</h1>
                <p>Submit and Wait For Approval!</p>
            </div>
        </div>
    </div>
</div>

<!-- Tours Box -->
<div class="container mt-4 mb-4">
    <h1 class="text-center">Customers Favourite <span class="highlight">Tours</span></h1>
    <div class="row">
        <div class="col-lg-3" *ngFor="let t of tourData; index as i">
            <div class="tourbox" *ngIf="i <= 3">
                <img src="{{t.img}}" />
                <h1>{{t.title}}</h1>
                <p hidden id="desc">{{t.description}}</p>
            </div>
        </div>
    </div>
    <a routerLink="menu" class="more-btn"><i class="bi bi-list"></i> View More</a>
</div>

<!-- Reviews Box -->
<div class="review-container mt-4 mb-4">
    <div class="board">
        <h1 class="text-light text-center">Customers <span class="highlight">Reviews</span></h1>
        <p class="text-light text-center">Taken from Tripadvisor</p>
        <!-- Slider main container -->
        <div class="swiper">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="swiper-slide" *ngFor="let r of reviewData; index as i">
                    <div class="flex">
                        <div class="comments">
                            <h1 class="comment-title">{{r.title}}</h1>
                            <p>{{r.comment}}</p>
                        </div>
                        <br>
                        <br>
                        <div class="profile">
                            <p class="text-light">Name: {{r.name}}</p>
                            <p class="text-light">Stars: {{r.stars}}</p>
                            <p class="text-light">Written {{r.date}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
            <!-- If we need scrollbar -->
            <div class="swiper-scrollbar"></div>
        </div>
    </div>
</div>