<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-lg-4" *ngFor="let t of tourData">
            <div class="tourbox mt-3 mb-3">
                <img src="{{t.img}}" />
                <h1>{{t.title}}</h1>
                <h6><i class="bi bi-speedometer2"></i>&nbsp;{{t.difficulty}}&nbsp;&nbsp;<i class="bi bi-clock"></i>&nbsp;{{t.time}}</h6>
                <p>{{t.description}}</p>
                <h5>{{t.price}} <i class="bi bi-currency-euro"></i></h5>
                <br />
                <a class="bookBtn" [routerLink]="['/menu', t.id]">Book Now &nbsp;<i style="color: black;" class="bi bi-bookmark-check-fill"></i></a>
            </div>
        </div>
    </div>
</div>
