@model SelaPetShop.Models.Dtos.AnimalDto

<div class="animal-page">
    <div class="animal-pic">
        <img src="~/lib/Animals/shitzu.jpg"/>
    </div>
    <div class="animal-details">
        <h2>@Html.DisplayFor(model => model.Name)</h2>
        <h4>@Html.DisplayFor(model => model.Category)</h4>
        <p>@Html.DisplayFor(model => model.Description)</p>
    </div>
</div>